<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css">
</head>
<body style="font-size: larger;">

<div th:insert="header"></div>

<div class="banner" style="margin-top: 5%; background-color: gray; color:white;">
    <div class="container" style="width: 80%; margin-left: 10%; margin-right: 10%; padding-top: 1%; padding-bottom: 2%; display: flex; flex-direction: column; justify-content: center; color: white;">
        <h1 th:text="${post.title}"></h1>
        <div class="article-meta" style="display: flex; ">
             <span class="" style="width:10%;">
                <img width="100%" height="100%" src="https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;w=1000&amp;q=80">
            </span>
            <div class="info" style="display: flex; flex-direction: column;">
                <span th:text="${post.author.name}" class="author"></span>
                <span class="date" th:text="${post.createdAt}"></span>
            </div>
            <span sec:authorize="isAuthenticated()" style="display: flex; align-items: flex-end">
                <a th:if="${#httpSession.getAttribute('user')==post.author.email or #authentication.principal.roles.get(0).name == 'ROLE_ADMIN'}" style="margin: 0 10px;" class="author" th:href="@{/post/{postId}/update-post(postId=${post.id})}"><h4 style="margin: 0;">Edit Article</h4></a>
                <a th:if="${#httpSession.getAttribute('user')==post.author.email or #authentication.principal.roles.get(0).name == 'ROLE_ADMIN'}" style="margin: 0 10px;" class="author" th:href="@{/post/{postId}/delete-post(postId=${post.id})}"><h4 style="margin: 0;">Delete Article</h4></a>
            </span>
            <span style="display: flex; margin-left: auto">
                <ul class="tag-list" style="margin: 0; align-self: flex-end; align-items: flex-end; display: flex; list-style: none;">
                    <li th:each="tags:${post.tags}" style="margin-left: 2%;">
                        <p style="padding: 0; margin: 0 5px;" th:text="${tags.name}"></p>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</div>


<div class="container page">
    <div class="row article-content">
        <div class="col-xs-12"  style=" padding-left: 5%; margin-top: 5%;">
            <div>
                <p th:text="${post.content}"></p>
            </div>
            <ul class="tag-list"></ul>
        </div>
    </div>
    <hr>
    <div class="article-actions"></div>
    <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
            <div>
                <form sec:authorize="isAuthenticated()" class="card comment-form" th:action="@{/post/{postId}/save-comment/(postId=${post.id})}" method="post">
                    <div class="card-block">
                        <textarea id="commentMessage" name="commentMessage" class="form-control" placeholder="Write a comment..." rows="3">

                        </textarea>
                    </div>
                    <div class="card-footer">
                        <img class="comment-author-img">
                        <button class="btn btn-sm btn-primary" type="submit">Post Comment</button>
                    </div>
                </form>
            </div>
            <div style="margin-bottom: 2%; margin-top: 2%;" th:each="comment:${comments.content}">
                <div class="card">
                    <textarea th:text="${comment.commentMessage}" disabled class="form-control" placeholder="Write a comment..." rows="3">
                    </textarea>
                    <div class="card-footer" style="display: flex">
                        <span class="" style="width:7%;">
                            <img width="100%" height="100%" src="https://static.productionready.io/images/smiley-cyrus.jpg">
                        </span>
                        <div class="info" style="display: flex; flex-direction: column;">
                            <span th:text="${comment.author.name}" class="author"></span>
                            <span class="date" th:text="${comment.createdAt}"></span>
                        </div>
                        <span sec:authorize="isAuthenticated()" class="mod-options" style="margin-left: auto;">
                           <ul class="nav nav-pills outline-active" style="margin-left: 10%; margin-right: 10%; margin-top: 2%; margin-bottom: 2%; display: flex; flex-direction: row">
                               <li class="nav-item" style="display: flex; flex-direction: row;">
                                   <a th:if="${#httpSession.getAttribute('user')==post.author.email or #authentication.principal.roles.get(0).name == 'ROLE_ADMIN'}" th:href="@{/post/{postId}/comment/{commentId}/(postId=${post.id},commentId=${comment.id})}" class="nav-link active">Edit</a>
                                   <a th:if="${#httpSession.getAttribute('user')==comment.author.email or #authentication.principal.roles.get(0).name == 'ROLE_ADMIN'}" th:href="@{/post/{postId}/comment/{commentId}/delete-comment/(postId=${post.id},commentId=${comment.id})}" class="nav-link active">Delete</a>
                               </li>
                           </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="footer"></div>

</body>
</html>