<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body style="font-size: larger;">
<div th:insert="header"></div>
<header style="width: 100%; background-color: green; height: 20vh; text-align: center; display: flex; flex-direction: column; justify-content: center; color: white;">
    <h1 style="align-self: center;"><b>Conduilt</b></h1>
    <p><b>A Place to share your knowledge</b></p>
</header>

<div style="display: flex; justify-content: space-between;">
    <ul class="nav nav-pills outline-active" style="margin-left: 10%; margin-right: 10%; margin-top: 2%; margin-bottom: 2%;">
        <li class="nav-item">
            <a th:href="@{/}" class="nav-link active">Global Feed</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <a th:href="@{/userFeed}" class="nav-link active">Your Feed</a>
        </li>
    </ul>
    <ul class="nav nav-pills outline-active" style="margin-left: 10%; margin-right: 10%; margin-top: 2%; margin-bottom: 2%;">
        <li class="nav-item">
            <a href="" class="nav-link active">Popular Tag</a>
        </li>
    </ul>
</div>
<section style="display: flex; margin-left: 10%; margin-right: 10%;">
    <div style="display: flex; flex-direction: column;">
        <div th:each="post :${posts.content}" class="article-preview" style="background-color: aqua; padding-bottom: 5%; padding-left: 5%; display: flex; flex-direction: column; padding-right: 5%;">
        <div class="article-meta" style="display: flex; padding-top: 5%; padding-bottom: 5%; ">
            <span class="" style="width:10%;">
                <img width="100%" height="100%" src="https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;w=1000&amp;q=80">
            </span>
            <div class="info" style="display: flex; flex-direction: column;">
                <span th:text="${post.author.name}" class="author"></span>
                <span class="date" th:text="${post.createdAt}"></span>
            </div>
        </div>
        <a class="preview-link" th:href="@{/{target}/{id}(id=${post.id},target=${targetUrl})}" >
            <h4 th:text="${post.title}"></h4>
            <p th:text="${post.description}"></p>
            <span>Read more...</span>
            <ul class="tag-list" th:each="tags:${post.tags}" style="float: right; list-style: none;">
                <li th:text="${tags.name}">

                </li>
            </ul>
        </a>

        </div>
        <hr/>
    </div>

    <div class="col-md-3" style=" margin-left: auto; padding-right: 0; ">
        <div th:each="tag :${tags}" class="sidebar" style="background-color: aquamarine; padding:10% 0% 0% 10%; display: flex; flex-direction: column;">
                <a th:text="${tag.name}" th:href="@{/filter-post/{tagId}(tagId=${tag.id})}" class="tag-default tag-pill"></a>
        </div>
    </div>

</section>
<div style="margin-left: 10%; margin-right: 10%;">

<ul class="pagination">
    <li class="nav-item" th:each="i : ${#numbers.sequence(0,posts.totalPages-1)}">
        <a th:href="@{/(page=${i})}" th:text="${i}" class="nav-link"
           th:classappend="${currentPage}==${i}?'active':''"></a>
    </li>
</ul>
</div>
<div th:insert="footer"></div>

</body>

</html>
