<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<title th:text="#{label.pages.home.title}">home</title>
</head>
<body style="font-size: larger;">
    <div class="container">
	    <h1 class="alert alert-danger" th:text="#{message.sessionExpired}">expired</h1>
	    <a class="btn btn-primary" th:href="@{/sign-in}" th:text="#{label.form.loginLink}">login</a>
    </div>
</body>

</html>