<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script type="text/javascript" src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css">
</head>
<body style="font-size: larger;">
<div th:insert="header"></div>
<div class="col-md-10 offset-md-1 col-xs-12">
    <form th:action="@{/new-post}" th:object="${post}" method="post" style="margin-top: 5%">

                <input th:field="*{title}" style="margin-bottom: 2%;" type="text" id="title" name="title" class="form-control form-control-lg" placeholder="Article Title">
                <input th:field="*{description}" style="margin-bottom: 2%;" type="text" id="description" name="description" class="form-control" placeholder="What's this article about?">
                <textarea th:field="*{content}" style="margin-bottom: 2%;" class="form-control" id="content" name="content" rows="8" placeholder="Write your article (in markdown)">
                </textarea>
                <input style="margin-bottom: 2%;" type="text" id="tagName" name="tagName" class="form-control" placeholder="Enter tags">
                <input style="margin-bottom: 2%;" type="radio" id="isPublished1" name="isPublished" value="draft" checked>Make Draft
                <input style="margin-bottom: 2%;" type="radio" id="isPublished" name="isPublished" value="publish">Publish
                <button class="btn btn-lg pull-xs-right btn-primary" type="submit">Done</button>
                <span th:text="${successMessage}" style="margin-bottom: 2%;" class="form-control-lg"></span>
    </form>
</div>

<div th:insert="footer"></div>

</body>
</html>
