<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body style="font-size: larger;">
<div th:insert="header"></div>
    <div class="user-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img src="" class="user-img">
                    <h4 th:text="${#authentication.principal.name}"></h4>
                    <p></p>
                    <a class="btn btn-sm btn-outline-secondary action-btn" th:href="@{/setting}">
                        Edit Profile Settings
                    </a>
                </div>
            </div>
        </div>
    </div>
<section style="display: flex; margin-left: 10%; margin-right: 10%; marign-top:5%;">
    <div style="display: flex; flex-direction: column;">
        <div th:each="post :${posts.content}" class="article-preview" style="background-color: aqua; padding-bottom: 5%; padding-left: 5%; display: flex; flex-direction: column; padding-right: 5%;">
            <div class="article-meta" style="display: flex; padding-top: 5%; padding-bottom: 5%; ">
                <a class="" href="#@sumesh" style="width:10%;">
                    <img width="100%" height="100%" src="https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;w=1000&amp;q=80">
                </a>
                <div class="info" style="display: flex; flex-direction: column;">
                    <a th:text="${post.author.name}" class="author" href="#@sumesh"></a>
                    <span class="date" th:text="${post.createdAt}"></span>
                </div>
            </div>
            <a class="preview-link" th:href="@{/{target}/{id}(id=${post.id},target=${targetUrl})}" >
                <h4 th:text="${post.title}"></h4>
                <p th:text="${post.description}"></p>
                <span>Read more...</span>
                <ul class="tag-list" th:each="tags:${post.tags}" style="float: right; list-style: none;">
                    <li th:text="${tags.name}">

                    </li>
                </ul>
            </a>

        </div>
        <hr/>
    </div>
</section>
<div th:insert="footer"></div>
</body>
</html>