<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body style="font-size: larger;">
<div th:insert="header"></div>
<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>
        <form th:action="@{/setting}" action="#" method="POST">
                    <input th:value="${author.name}" style="margin-bottom: 2%;" name="name" type="text" class="form-control form-control-lg" placeholder="Username">
                    <input name="email" th:value="${author.email}" style="margin-bottom: 2%;" type="email" class="form-control form-control-lg" placeholder="Email">
                    <input name="password" type="password" style="margin-bottom: 2%;" class="form-control form-control-lg" placeholder="New Password">
                    <input name="matchingPassword" style="margin-bottom: 2%;" type="password" class="form-control form-control-lg" placeholder="New Password">
                    <button class="btn btn-lg btn-primary pull-xs-right" style="margin-bottom: 2%;" type="submit">Update Settings</button>
                    <span th:text="${successMessage}" style="margin-bottom: 2%;" class="form-control-lg"></span>
        </form>
        <hr>
        <a th:href="@{/sign-out}" class="btn btn-outline-danger">Or click here to logout.</a>
    </div>
</div>
<div th:insert="footer"></div>
</body>
</html>