<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css">
</head>
<body style="font-size: larger;">
<div th:insert="header"></div>

<section style="display: flex; margin-left: 10%; margin-right: 10%; margin-top: 5%;">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
            <h1 class="text-xs-center">Sign Up</h1>
            <p class="text-xs-center">
                <a class="" th:href="@{/sign-in}">Have an account?</a>
            </p>
            <form th:action="@{/sign-up}" action="#" th:object="${authordto}" method="post" autocomplete="off" role="form">
                <input th:field="*{name}" name="name" size="100" style="margin-bottom: 2%;" type="text" class="form-control form-control-lg" placeholder="Full Name">
                <input th:field="*{email}" name="email" size="100" style="margin-bottom: 2%;" type="email" class="form-control form-control-lg" placeholder="Email">
                <input th:field="*{password}" name="password" size="100" style="margin-bottom: 2%;" type="password" class="form-control form-control-lg" placeholder="Password">
                <input th:field="*{matchingPassword}" name="matchingPassword" size="100" style="margin-bottom: 2%;" type="password" class="form-control form-control-lg" placeholder="Confirm Password">
                <button style="float: right;" class="btn btn-lg btn-primary pull-xs-right" type="submit">Sign in</button>
                <span th:text="${successMessage}"></span>
            </form>
        </div>
    </div>


</section>
<div th:insert="footer"></div>
</body>

</html>
