<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title th:text="#{label.pages.home.title}">home</title>
</head>
<body style="font-size: larger;">
<div class="container">
    <h1 class="alert alert-success" th:text="#{message.regSucc}">success</h1>
    <a th:href="@{/sign-in}" th:text="#{label.login}">login</a>
    <form method="post" th:action="@{/resendVerificationMail}">
        <input type="email" name="userEmail" th:value="${userEmail}" th:hidden="true">
        <input type="submit" value="resend verification code">
    </form>
</div>
</body>
</html>