<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css">
</head>
<body style="font-size: larger;">

<div th:insert="header"></div>

<div class="banner" style="margin-top: 5%">
    <div class="container">
        <h1 th:text="${post.title}"></h1>
        <div class="article-meta" style="display: flex; padding-top: 5%; padding-bottom: 5%; ">
            <span class=""style="width:5%;">
                <img width="100%" height="100%" src="https://static.productionready.io/images/smiley-cyrus.jpg">
            </span>
            <div class="info" style="display: flex; flex-direction: column;">
                <span th:text="${post.author.name}" class="author"></span>
                <span class="date" th:text="${post.createdAt}"></span>
            </div>
        </div>
        <span>

            </span>
    </div>
</div>
</div>


<div class="container page">
    <div class="row article-content">
        <div class="col-xs-12">
            <div>
                <p th:text="${post.content}"></p>
            </div>
            <ul class="tag-list"></ul>
        </div>
    </div>
    <hr>
    <div class="article-actions"></div>
    <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
            <div>
                <list-errors>

                </list-errors>
                <form class="card comment-form" th:action="@{/post/{postId}/comment/{commentId}/update-comment/(postId=${post.id},commentId=${comment.id})}" method="post">
                    <div class="card-block">
                        <textarea id="commentMessage" name="commentMessage" th:text="${comment.commentMessage}" class="form-control" placeholder="Write a comment..." rows="3">

                        </textarea>
                    </div>
                    <div class="card-footer">
                        <img class="comment-author-img">
                        <button class="btn btn-sm btn-primary" type="submit">Post Comment</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="footer"></div>

</body>
</html>